<!DOCTYPE html>
<html>
<head>
    <title>Gotta Catch 'em All</title>
</head>
<body background='https://wallpaperaccess.com/full/302046.jpg'>
    <center>
        <img src="http://pluspng.com/img-png/pokemon-logo-png-pokemon-logo-png-2000.png" width="800" height="250">
       
        <form action='http://localhost:5000/hasil' method="post">
            <p>
                <input type="text" name="pokemon" placeholder='Ketik nama Pokemon ...'>
            </p>
            <p>
                <input type="submit" value="Cari">
            </p>	
        </form>

    </center>
</body>
</html>